DATABASE_URL=""

PORT=3000

JWT_ACCESS_SECRET="super-secret-access-token-key-12345"
JWT_REFRESH_SECRET="super-secret-refresh-token-key-54321"

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=